_pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
env/
venv/
ENV/
.venv/
.idea/
.vscode/
.DS_Store
data/raw/
data/processed/
models/
*.h5
*.pkl
*.joblib
*.log
results/
.env
*.env
pip-wheel-metadata/
*.egg-info/
